@import "_variables.scss";

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin: 20px auto;
  padding-left: 40px;
  padding-right: 40px;
}

.analitics {
  margin: 43px 0;
  &-title {
    font-size: 13px;
    line-height: 1.385;
    @include breakpoint(md) {
      font-size: 9px;
    }
  }
  &-list {
    color: $gray-dark;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    @include breakpoint(xs) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  &-item:not(:first-child) {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      transform: rotate(90deg);
      bottom: 17px;
      left: -37px;
      width: 37px;
      height: 1px;
      background-color: $gray-neitral;
      @include breakpoint(md) {
        left: -27px;
      }
      @include breakpoint(md) {
        content: none;
      }
    }
  }
  &-result {
    line-height: 0.75;
    &-value {
      font-size: 24px;
      font-weight: 700;
      color: $black;
      @include breakpoint(lg) {
        font-size: 20px;
      }
      @include breakpoint(md) {
        font-size: 18px;
      }
      @include breakpoint(xs) {
        font-size: 18px;
      }
    }
    &-difference {
      font-size: 13px;
      font-weight: 400;
      color: $dark;
      position: relative;
      &--more {
        &:after {
          content: '';
          position: absolute;
          top: -7px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid $red;
        }
      }
      &--normal {
        &:after {
          content: '';
          position: absolute;
          top: -7px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid $black;
        }
      }
      &--less {
        &:after {
          content: '';
          position: absolute;
          top: -7px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $black;
        }
      }
    }
    &--high {
      color: $red;
    }
    &--middle {
      color: $yellow;
    }
  }
}

.data {
  max-width: 100%;
  height: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-color: $gray-light;
  &-description {
    color: $gray-dark;
  }
}

.statistics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  @include breakpoint(md) {
    display: flex;
    flex-direction: column;
  }
  &-table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
      &-title {
        text-align: left;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 4px;
        @include breakpoint(md) {
          font-size: 10px;
        }
      }
      &-name {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 400;
        color: $gray;
      }
      &-difference { 
        font-size: 9px;
        color: $gray;
      }
      &-time {
        font-size: 11px;
        &--positive {
          color: $red;
        }
        &--negative {
          color: $green;
        }
      }
      &-row {
        display: flex;
        font-size: 13px;
        font-weight: 600;
        align-items: baseline;
      }
      &-one {
        display: grid;
        grid-template-columns: 60% auto auto auto;
        td:first-child {
          overflow: hidden;
          text-align: left;
        }
        td:not(:first-child) {
          text-align: center;
        }
        td:nth-child(2) {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            right: 0px;
            background: $pink;
            clip-path: circle(50%);
            height: 10px;
            width: 10px;
          }
        }
        td:nth-child(3) {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            right: 0px;
            background: $yellow;
            clip-path: circle(50%);
            height: 10px;
            width: 10px;
          }
        }
        td:nth-child(4) {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            right: 0px;
            background: $green;
            clip-path: circle(50%);
            height: 10px;
            width: 10px;
          }
        }
      }
      &-two {
        display: grid;
        grid-template-columns: 75% auto auto;
        td:not(:first-child) {
          text-align: right;
        }
        td {
          overflow: hidden;
        }
      }
      &-three {
        display: grid;
        grid-template-columns: 25% 12.5% 12.5% 12.5% 12.5% 25%;
        td:nth-child(2), td:nth-child(4)  {
          text-align: right;
        }
        td:nth-child(3), td:nth-child(5)  {
          text-align: left;
        }
        td:nth-child(6) {
          text-align: center;
        }
        td {
          overflow: hidden;
        }
      }
      tr {
        padding: 11px 0 7px 0;
        border-bottom: 1px solid $gray;
      }
  }
}